body {
  font-family: 'PT Sans', sans-serif;
}

header {
  font-family: 'Cuprum', sans-serif;
}

#controls {
  clear: both;
}

#my_hand {
  clear: both;
  border: 1px solid grey;
  height: 22em;
  width: 90%;
}

#h3 {
  display: inline;
  padding-right: 40px;
}

.current_hand {
  float: left;
}

#btnHit, #btnStick, #btnRestart, #btnDeal {
  float: left;
}
