body {
  font-family: 'PT Sans', sans-serif;
}

header {
  font-family: 'Cuprum', sans-serif;
}

#controls {
  clear: both;
}

#my_hand {
  clear: both;
  border: 1px solid grey;
  height: 16em;
  width: 90%;
}

#h3 {
  display: inline;
  padding-right: 40px;
}

.current_hand {
  float: left;
}

#btnStick, #btnDeal {
  float: left;
}

#btnRestart {
  float: right;
  font-size: 2em;
}

#result {
  display: none;
  position: absolute;
	top: 40%;
	left: 10%;
}

#result > img {
	width: 500px;
	height: 250px;
  opacity: 0.75;
}

#userWins, #dealerWins {
  display: inline;
  font-style: italic;
  text-align: right;
}
